/* Общие стили для навигации */
.navBar {
    background-color: #243C2F;
    padding: 29px 41px;
}

.icon {
    padding: 0 300px 31px 53px;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navItem {
    margin: 0;
}

.navLink {
    color: #EFEBA7;
    text-decoration: none;
    padding: 10px 15px ;
    /*margin: 29px 41px 45px;*/
    font-size: 15px;
    transition: background-color 0.3s;
}

.navLink:hover {
    background-color: #465945;
    border-radius: 5px;
}

/* Стили для активной ссылки */
.navLink.active {
    background-color: #007BFF;
    border-radius: 5px;
}
